@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&display=swap');

/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - https://cssdeck.com/blog/ */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

html {
    --font-digit: Arima Madurai;
    background: #3c3225 url("../static/soroban.jpg");
    font-family: sans-serif;
}

body {
    position: fixed;
    touch-action: pan-x pan-y;
    -webkit-user-select: none;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

body, #root {
    /* IMPORTANT! Without this the body will scroll silently and cause
       touch positions to be wrong. */
    overflow: hidden;
}

.configurationWrapper {
    text-align: center;
}

.configuration {
    display: inline-block;
    padding: .25rem;
    margin: .25rem;
    background: rgba(0,0,0,.85);
    border: 2px solid black;
    border-radius: 3px;
    color: white;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.configuration > h1 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.configuration .choice {
    border: 2px solid transparent;
    line-height: 0;
    padding: 2px;
}

.configuration .choice.selected {
    border-color: #09e;
}

.configuration > table > tbody > tr > th,
.configuration > table > tbody > tr > td {
    padding: .25rem .5rem;
}

.configuration > table > tbody > tr > th {
    white-space: pre;
}

.controls {
    padding: .5rem;
    overflow: hidden;
    position: absolute;
    /* Needed to catch pointer event first here */
    z-index: 1;
}

.leftControls {
    left: 0;
}

.rightControls {
    right: 0;
}

.controls button {
    border: 0;
    background: rgba(0,0,0,0.45);
    padding: 0;
    color: white;
    font-size: 24px;
    min-width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5rem;
}

.contentWrapper {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

.content {
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    position: absolute;
    top: 50%;
}

.digits {
    margin-bottom: 1rem;
    font-family: 'Arima Madurai', monospace;
    font-size: 70px;
    line-height: 50px;
}

.digits > .digit {
    display: inline-block;
    text-shadow: -1px -1px rgba(0,0,0,0.33),
                 1px 1px rgba(255,255,255,0.13),
                 1px 1px 3px rgba(255,255,255,.05);
    text-align: center;
}

.frame {
    position: relative;
    display: inline-block;
    border: 15px solid black;
    border-radius: 8px;
    overflow: hidden;
    background: #161616;
    box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 20px;
    line-height: 0;
}

.background,
.foreground {
    pointer-events: none;
}

.foreground {
    position: absolute;
    left: 0;
    top: 0;
}
